.barra{
    background-color: rgb(183, 0, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}    
.titulo{
    
    position: fixed;
    z-index: 2;
    text-align: center;
    
}
.menu{
    position: relative;
    z-index: 1;
}